.Admin-details {
  margin: 5px;
  padding: 10px;
}

.Admin-details table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.Admin-details .container {
  padding: 0px;
}

.Admin-details td {
  border: px solid rgba(128, 128, 128, 0.383);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 125px;
  height: 35px;
}
.Admin-details tr {
  border: 1px solid rgba(128, 128, 128, 0.103);
  text-align: end;
}

.Admin-details tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Admin-details Link {
  border: none;
}

tr button {
  margin: 0px;
  padding: 12px 48px;
  margin: 20px;
  background-color: #f2f2f2;
  font-size: 15px;
  border: none;
  margin-right: 50px;
  color: #013a6d;
}

#adminuserdetailstable tr > td {
  width: 300px;
  text-align: start;
  padding-left: 10px;
}
