h2 {
  margin-bottom: 35px;
}

#box {
  margin-top: 40px;
}
#district {
  display: block;

  padding: 9px;
  margin-bottom: 30px;
  border: 0.5 solid grey;
  width: 100%;
  border-color: lightgrey;
  border-radius: 5px;
}

#adduserbutton {
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
}

.information {
  position: absolute;
  top: 50% !important;
  left: 50%;
  padding: 50px 90px !important;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: white;
}
